body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
}

.menu{
    background-color: aqua;
    height: 100vh;
}

.fas.fa-bars {
    font-size: 24px;
    cursor: pointer;
    margin: 8px;
}

.order-lista-item{
    cursor:  pointer;
}